<div class="footer">
  <div class="footer-container">
    <div class="diagram-icon">
      <img class="footer-logo" src="assets/common_images/Diagram_Component.svg" />
    </div>
    <div class="footer-content">
      <div class="title">
        <span> Want interactive diagramming in your app? </span>
        <span><strong class="main-title"> Try our Diagram Component</strong> — build, connect, and customize!</span>
      </div>
      <div class="buttons">
        <button type="button" class="e-trial-btn e-btn e-primary e-icons" (click)="openUrl(trialUrl, $event)"></button>
        <button type="button" class="e-demo-btn e-btn" (click)="openUrl(demoUrl, $event)"> Request Demo </button>
      </div>
    </div>
  </div>
</div>